.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .turn{
    height:7vh;
    width:28vh;
    display:flex;
    align-items: center;
    position:relative;
    justify-content: center;
    font-size:0vh;
    color:aquamarine;
    background-color:black;
    margin:12px auto ;
    border : 2px solid black;
    box-shadow: 0 0 20px black;
    text-align: center;
    border-radius:1vh;
    z-index:1;
    animation: roll .3s linear;
}
.turn span{
        width:100%;
        height:100%;
        background:black;
        /* box-shadow: 0 0 20px black; */
        z-index:10;
        display:flex;
        font-size: 3vh;
        justify-content: center;
        align-items:center;
        border:1px solid #0f0a29;
}
.turn:before,
.turn:after{
        content:'';
        inset:0;
        background:#f00;
        transition:0.5s;
      }
.turn:before,
.turn:after{
  content:'';
  position: absolute;
  background: linear-gradient(45deg,#00ccff,#0e1538,#d400d4);
  inset:-2px;
}
.turn:hover:before{
    inset:-3px;
}
.turn:hover:after{
    inset:-3px;
    filter: blur(20px);
}
  .button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    /* Apply responsive styles for smaller screens */
    .button-container {
      flex-direction: column;
    }
  }
  